nav {
    background-color: rgb(117, 117, 117);
    color: white;
    height: 65px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}